{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title %}
About
{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>Rango says here is the about page. <small>关于页面</small></h1>
    </div>
    <div>
        <h2>The times you've visited this site is: {{ visits }}</h2>
        <p><strong>.</strong></P>
        <img width="90" height="100" src="{% static 'images/321.jpg' %}" alt="Picture of Rango"/>
    </div>

    <!-- jQuery学习与使用 -->
    <button onclick="alert('You clicked the button using Javascript.');">
        Click Me - I run Javascript
    </button>

    <button id="about-btn">Click Me - I'm Javascript on Speed</button>

    <p class="ouch">This is a example</p>

    <p>This is another example</p>

    <div id="msg">Hello</div>


{% endblock %}
